<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Zeiterfassung</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center ion-padding">
  <div class="timer-container">
    <p>{{ timerDisplay }}</p>
  </div>
  <div class="button-container">
    <ion-button color="{{ isCheckingIn ? 'danger' : 'success' }}" (click)="toggleCheckIn()" class="check-in-button">
      {{ isCheckingIn ? 'Auschecken' : 'Einchecken' }}
    </ion-button>
    <ion-button color="secondary" (click)="showTimes()" class="show-times-button">
      <ion-icon name="time-outline"></ion-icon>
    </ion-button>
    <ion-button (click)="presentManualTimeEntryModal()">Zeit Manuell erfassen</ion-button>
  </div>
</ion-content>