ion-header {
  ion-toolbar {
    --justify-content: space-between; /* Verteilt den Platz zwischen den Elementen */
    --background: #212429 !important;
    
    ion-title {
      text-align: center;
      color: white; // Textfarbe auf Weiß setzen
      font-family: 'Arapey', serif;
      font-size: 1.5em;
    } 
  }
}


ion-content {
  --background: #212429
}

ion-content p {
  color: white;
  text-align: center;
  font-family: 'Arapey', serif;
  font-size: 1.2em; 
}

.account-form {
  max-width: 400px;
  margin: auto;
  font-family: 'Arapey', serif;

  ion-button {
    --border-radius: 20px; 
    --background: #ff6861; 
    --color: white; 
    --font-family: 'Arial', sans-serif; 
    --height: 60px; 
    --font-size: 1.2em; 
    width: 80%; 
    margin: 20px auto; 
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ion-button.delete-button {
    --background: #808080; 
  }

  ion-icon {
    font-size: 1.5em; 
    margin-right: 8px; 
  }
}

/* tab1.page.scss */

/* tab1.page.scss */

.profile-container {
  width: 150px; /* Dies sollte die Größe des Rahmens sein */
  height: 150px; /* Dies sollte die Höhe des Rahmens sein */
  border-radius: 50%; /* Dies macht den Rahmen rund */
  overflow: hidden; /* Verhindert, dass der Inhalt außerhalb des Rahmens angezeigt wird */
  position: relative; /* Ermöglicht die genaue Positionierung des Bildes innerhalb */
  border: 2px solid white; /* Dünner weißer Rahmen */
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5); /* Heller Schatten */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto; /* Zentriert den Rahmen horizontal */
}

.profile-picture {
  width: 100%; /* Füllt den umschließenden Container aus */
  height: auto; /* Behält die Aspekt-Ratio des Bildes bei */
  object-fit: cover; /* Verhindert Verzerrungen des Bildes */
  border: none; /* Kein Rahmen um das Bild selbst */
}


/* Optional: Stil für den Header, um sicherzustellen, dass der Inhalt darunter beginnt */
ion-header {
  position: relative; /* Setzt die Positionierung des Headers relativ */
  z-index: 1000; /* Stellt sicher, dass der Header über anderen Inhalten liegt */
}

