ion-header {
  ion-toolbar {
    --justify-content: space-between; /* Verteilt den Platz zwischen den Elementen */
    --background: #212429 !important;

    ion-title {
      text-align: center;
      color: white; // Textfarbe auf Weiß setzen
      font-family: 'Arapey', serif;
      font-size: 1.5em;
    }
  }
}

ion-content {
  --background: #212429; /* Hintergrundfarbe Ihres Mockups */
}

.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 40px;
  width: 100%; // Stellen Sie sicher, dass der Container die volle Breite hat
}

.user-avatar {
  width: 150px; // Größe des Profilbildes angepasst
  height: 150px;
  margin: 0 auto;
  border: 4px solid white;
  border-radius: 50%;
  overflow: hidden;
  z-index: 2; // Stellen Sie sicher, dass das Profilbild über den Icons liegt
}

.action-icons {
  position: absolute;
  top: 120%; // Positioniere die Icons unter dem Profilbild vertikal
  width: 100%; // Breite des Containers anpassen
  display: flex;
  justify-content: space-evenly; // Gleiche Abstände zwischen den Icons
  padding: 0 15%; // Horizontale Abstände von den Seitenrändern verkleinern
  z-index: 1; // Stellen Sie sicher, dass die Icons unter dem Profilbild liegen
}

ion-icon {
  font-size: 20px; // Größe der Icons verkleinern
  color: white;
  background-color: #3871c1;
  border: 2px solid white;
  border-radius: 50%;
  padding: 10px; // Padding der Icons anpassen
  margin: 0 5px; // Abstand zwischen den Icons verkleinern
  width: 40px; // Größe der Icons verkleinern
  height: 40px; // Größe der Icons verkleinern
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%); // Positioniere die Icons über dem unteren Rand des Profilbildes
}

.settings-list {
  margin-top: 150px; // Anpassen basierend auf der endgültigen Positionierung der Icons
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.settings-list ion-item {
  background: #32353b;
  color: white;
  margin: 8px 0;
  border-radius: 8px; /* Rounded corners for the list items */
}
