ion-header {
  ion-toolbar {
    --justify-content: space-between; /* Verteilt den Platz zwischen den Elementen */
    --background: #212429 !important;
    
    ion-title {
      text-align: center;
      color: white; // Textfarbe auf Weiß setzen
      font-family: 'Arapey', serif;
      font-size: 1.5em;
    } 
  }
}


ion-content {
  --background: #212429
}

.category-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 10px;
  background-color: #1a1a1a;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.category-icon {
  font-size: 48px;
  color: #007aff;
}

.category-title {
  color: #fff;
  margin-top: 10px;
  text-align: center;
}
