<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="" icon="arrow-back" style="--color: #555;"></ion-back-button>
    </ion-buttons>
    <ion-title>Getrackte Zeiten</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="downloadCSV()">
        <ion-icon slot="icon-only" name="download"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <table class="time-entries-table">
    <tr>
      <th>Datum</th>
      <th>Startzeit</th>
      <th>Endzeit</th>
      <th>Pause</th>
      <th>Arbeitszeit</th>
    </tr>
    <tr *ngFor="let session of workSessions$ | async; let i = index" (contextmenu)="openContextMenu(session)" (click)="openContextMenuOnClick(session)" [attr.data-session-id]="session.docId">
      <td>{{ session['date'] }}</td>
      <td>{{ session['startTime'] }}</td>
      <td>{{ session['endTime'] }}</td>
      <td>{{ session['breakTime'] || '0' }} Minuten</td>
      <td>{{ session['workingTime'] }} Stunden</td>
    </tr>
  </table>
</ion-content>
