// Darkmode:
ion-header {
  ion-toolbar {
    --background: transparent; 
    justify-content: center; 
    ion-title {
      text-align: center; 
      color: white; 
      font-family: 'Arapey', serif; 
      font-size: 1.5em; 
    }
  }
}

ion-content {
  --background: black;
}

.forgot-password-container {
  max-width: 400px;
  margin: auto;
  background: black;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.title-container {
  margin-bottom: 20px;
}

ion-item {
  position: relative;
  --padding-start: 0;
  --padding-end: 0;
  --inner-padding-end: 0;
  --inner-padding-start: 0;
  --border-radius: 8px; 
  --background: white; 
  --border-color: black;
  --border-style: solid;
  --border-width: 1px;
  --margin-bottom: 10px; 
}

ion-icon {
  color: black; 
}

ion-input[type="email"] {
  --padding-start: 16px; 
  --font-family: 'Arial', sans-serif;
  --color: black;
}

.reset-button {
  --background: #ff6861; 
  --background-activated: #0056b3;
  --border-radius: 20px;  
  --color: white
  --font-family: 'Arial', sans-serif; 
  --height: 50px; 
  --font-size: 1.1em;  
  margin-top: 20px;
  margin: 20px auto;
  width: 50%;
  max-width: 200px;
  display: block;
}

.cancel-button {
  --color: #007bff; 
}

// White Mode:
// .forgot-password-container {
//     max-width: 400px;
//     margin: auto;
//     background: #fff;
//     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
//     padding: 20px;
//     border-radius: 8px;
//     text-align: center;
//   }
  
//   .title-container {
//     margin-bottom: 20px;
//   }
  
//   ion-item {
//     --padding-start: 0;
//     --padding-end: 0;
//     --inner-padding-end: 0;
//     --inner-padding-start: 0;
//   }
  
//   .reset-button {
//     --background: #007bff; 
//     --background-activated: #0056b3; 
//     margin-top: 20px;
//   }
  
//   .cancel-button {
//     --color: #007bff; 
//   }
  